body {
    margin: 0;
    padding: 0;
}

/*--------- menu -------*/

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 5;
    padding: 0;
    width: 100%;
    top: 0;
    overflow: hidden;
    background-color: #47AD2E;
    font-family: 'Josefin Sans', sans-serif;
}

li {
    float: left;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    line-height: 20px;
    color: #ffffff;
}


a:hover {
    background-color: rgba(46, 134, 193, 0.9);
}

/* ------- Scenen------ */

#scene {
    width: 100vw;
    height: 56.25vw;
    position: relative;
    overflow: hidden;
}

#baggrund {
    width: 100vw;
    height: 56.25vw;
    background-image: url(Animations_scenes/baggrund-01.svg);
    background-size: cover;
    background-size: 100%;
    position: absolute;
}

#mellemgrund {
    width: 100vw;
    height: 56.25vw;
    background-image: url(Animations_scenes/mellemgrund.svg);
    background-size: cover;
    background-size: 100%;
    position: absolute;
}

#forgrund {
    width: 100vw;
    height: 56.25vw;
    background-image: url(Animations_scenes/forgrund.svg);
    background-size: cover;
    background-size: 100%;
    position: absolute;
}

/* ------- Scenen - Slut ------ */

/*-------- Sekvens 1 ----------*/

#main_char_container {
    position: absolute;
}

.man_move_in {
    animation-name: man_move_in_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes man_move_in_kf {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(40vw, 0vw);
    }
}

#main_char_sprite {
    width: 20vw;
    height: 20vw;
    background-image: url(Animations_figurer/Hovedkarakter/mainCharSpritesheet%202.svg);
    background-size: 900% 700%;
    position: absolute;
    bottom: -45vw;
    left: -20vw;
}

.manWalkcycle {
    animation-name: walk_kf;
    animation-duration: 1s;
    animation-timing-function: steps(9);
    animation-iteration-count: infinite;
}

@keyframes walk_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -900% 0%;
    }
}

/*sætter manden i fast position*/

.man_posiiton_in {
    transform: translate(40vw, 0vw);
}


.manStand {
    background-position: 0% -600%;
}

}

.feedBirds {
    animation-name: feedBirds_kf;
    animation-duration: 0.6s;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;
}

@keyframes feedBirds_kf {
    0% {
        background-position: 0% -600%;
    }

    100% {
        background-position: -300% 100%;
    }
}

.manJumps {
    animation-name: manJumps_kf;
    animation-duration: 1s;
    animation-timing-function: steps(5);
    animation-iteration-count: infinite;
}

@keyframes manJumps_kf {
    0% {
        background-position: 0% -100%;
    }

    100% {
        background-position: -500% -100%;
    }
}

.manAngry {
    animation-name: manAngry_kf;
    animation-duration: 0.6s;
    animation-timing-function: steps(5);
    animation-iteration-count: infinite;
}

@keyframes manAngry_kf {
    0% {
        background-position: 0% -200%;
    }

    100% {
        background-position: -500% -200%;
    }
}

.manThinking {
    animation-name: manThinking_kf;
    animation-duration: 0.6s;
    animation-timing-function: steps(5);
    animation-iteration-count: infinite;
}

@keyframes manThinking_kf {
    0% {
        background-position: 0% -400%;
    }

    100% {
        background-position: -500% -400%;
    }
}

.manIdea {
    background-position: 0% -500%;
}

.man_move_out {
    animation-name: man_move_out_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes man_move_out_kf {
    0% {
        transform: translate(30vw) scaleX(-1);
    }

    100% {
        transform: translate(-50vw) scaleX(-1);
    }
}

.man_move_birdfeeder {
    animation-name: man_move_birdfeeder_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;

}

@keyframes man_move_birdfeeder_kf {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(65vw, -10vw);
    }
}

.birdfeederWalkcycle {
    animation-name: birdfeederWalkcycle_kf;
    animation-duration: 1s;
    animation-timing-function: steps(9);
    animation-iteration-count: infinite;
}

@keyframes birdfeederWalkcycle_kf {
    0% {
        background-position: 0 -300%;
    }
    100% {
        background-position: -900% -300%;
    }
}

.man_with_birdfeeder {
    transform: translate(65vw, -10vw)
}

.man_move_away {
    animation-name: man_move_away_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes man_move_away_kf {
    0% {
        transform: translate(45vw, -10vw) scaleX(-1);
    }

    100% {
        transform: translate(19vw, 0vw) scaleX(-1);
    }
}

.man_happy_position {
    transform: translate(40vw, 0vw);
}

.manHappy {
    background-position: 0% -600%;
}


/*------- Fugle ------*/

#bird1_container {
    position: absolute;
}

#bird1_sprite {
    width: 7.81vw;
    height: 5.21vw;
    background-image: url(Animations_figurer/Fugle/Fugle.svg);
    background-size: 400% 700%;
    position: absolute;
    bottom: -33vw;
    right: -45vw;
}

#bird2_container {
    position: absolute;
}

#bird2_sprite {
    width: 7.81vw;
    height: 5.21vw;
    background-image: url(Animations_figurer/Fugle/Fugle.svg);
    background-size: 400% 700%;
    position: absolute;
    bottom: -35vw;
    right: -55vw;
}

#bird3_container {
    position: absolute;
}

#bird3_sprite {
    width: 7.81vw;
    height: 5.21vw;
    background-image: url(Animations_figurer/Fugle/Fugle.svg);
    background-size: 400% 700%;
    position: absolute;
    bottom: -28vw;
    right: -65vw;
}

.bird_singing {
    animation-name: sing_kf;
    animation-duration: 0.5s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
}

@keyframes sing_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200% 0%;
    }
}

.birdsEating {
    animation-name: birdsEating_kf;
    animation-duration: 0.5s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
}

@keyframes birdsEating_kf {
    0% {
        background-position: 0% -100%;
    }
    100% {
        background-position: -200% -100%;
    }
}

.birdsFlee {
    animation-name: birdsFlee_kf;
    animation-duration: 0.5s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
}

@keyframes birdsFlee_kf {
    0% {
        background-position: 0% -200%;
    }
    100% {
        background-position: -200% -200%;
    }
}

.birds_move_up {
    animation-name: birds_move_up_kf;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes birds_move_up_kf {
    0% {
        transform: translate(0vw);
    }

    100% {
        transform: translate(-21vw, -22vw);
    }
}

.birdsFlyUp {
    animation-name: birdsFlyUp_kf;
    animation-duration: 2s;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;
}

@keyframes birdsFlyUp_kf {
    0% {
        background-position: 0% -300%;
    }
    100% {
        background-position: -300% -300%;
    }
}

.birds_position_in {
    transform: translate(-21vw, -22vw);
}

.birds_move_out {
    animation-name: birds_move_out_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes birds_move_out_kf {
    0% {
        transform: translate(-21vw, -22vw);
    }

    100% {
        transform: translate(-100vw, -22vw);
    }
}

.birdsFlyOut {
    animation-name: birdsFlyOut_kf;
    animation-duration: 2s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
}

@keyframes birdsFlyOut_kf {
    0% {
        background-position: 0% -400%;
    }
    100% {
        background-position: -400% -400%;
    }
}

.birds_move_in {
    animation-name: birds_move_in_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes birds_move_in_kf {
    0% {
        transform: translate(0vw, -20vw) scaleX(-1);
    }

    100% {
        transform: translate(70vw, -20vw) scaleX(-1);
    }
}

.birdsFlyIn {
    animation-name: birdsFlyIn_kf;
    animation-duration: 2s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
}

@keyframes birdsFlyIn_kf {
    0% {
        background-position: 0% -400%;
    }
    100% {
        background-position: -400% -400%;
    }
}
.birds_move_down {
    animation-name: birds_move_down_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes birds_move_down_kf {
    0% {
        transform: translate(70vw, -20vw) scaleX(-1);
    }

    100% {
        transform: translate(80vw, -10vw) scaleX(-1);
    }
}

.birdsFlyDown {
    animation-name: birdsFlyDown_kf;
    animation-duration: 2s;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;
}

@keyframes birdsFlyDown_kf {
    0% {
        background-position: 0% -500%;
    }
    100% {
        background-position: -300% -500%;
    }
}

.birds_move_slow {
    animation-name: birds_move_slow_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes birds_move_slow_kf {
    0% {
        transform: translate(80vw, -10vw) scaleX(-1);
    }

    100% {
        transform: translate(90vw, 0vw) scaleX(-1);
    }
}

.birdsLand {
    animation-name: birdsLand_kf;
    animation-duration: 2s;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;
}

@keyframes birdsLand_kf {
    0% {
        background-position: 0% -600%;
    }
    100% {
        background-position: -300% -600%;
    }
}

.birds_position_landed {
    transform: translate(90vw, 0vw) scaleX(-1);
}
/*------------- Villain ---------------*/

#villain_container {
    position: absolute;
    right: -20vw;
    top: 10vw;
}

.squirrel_move_in {
    animation-name: squirrel_move_in_kf;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes squirrel_move_in_kf {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-25vw);
    }

    26% {
        transform: translateX(-25vw) rotate(15deg) scaleX(-1);
    }

    75% {
        transform: translate(-25vw, 10vw) scaleX(-1);
    }

    100% {
        transform: translate(25vw, 10vw) scaleX(-1);
    }
}

#villain_sprite {
    width: 13.02vw;
    height: 10.41vw;
    background-image: url(Animations_figurer/Villain/SquirrelSpritesheet.svg);
    background-size: 500% 600%;
    right: -10vw;
}

.squirrelWalkcycle {
    animation-name: runSquirrel_kf;
    animation-duration: 0.5s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
}

@keyframes runSquirrel_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -400% 0%;
    }
}

.squirrel_move_scare {
    animation-name: squirrel_move_in_kf;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

@keyframes squirrel_move_in_kf {
    0% {
        transform: translate(-20vw, 20vw)
    }

    100% {
        transform: translate(-40vw, 10vw)
    }
}

.squirrel_position_scare {
    transform: translate(-40vw, 10vw)
}

.squirrelStand {
    background-position: 0% -400%;
}

.squirrelScare {
    animation-name: squirrelScare_kf;
    animation-duration: 1s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
}

@keyframes squirrelScare_kf {
    0% {
        background-position: 0% -400%;
    }
    100% {
        background-position: -200% -400%;
    }
}

.squirrel_move_jump {
    animation-name: squirrel_move_jump_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes squirrel_move_jump_kf {


    0% {
        transform: translate(-40vw, 10vw);
    }
    25% {
        transform: translate(-50vw, 5vw);
    }
    50% {
        transform: translate(-60vw, 10vw);
    }

    100% {
        transform: translate(-40vw, 10vw);
    }

}

.squirrelJump {
    animation-name: squirrelJump_kf;
    animation-duration: 1.2s;
    animation-timing-function: steps(5);
    animation-iteration-count: 1;
}

@keyframes squirrelJump_kf {
    0% {
        background-position: 0% -100%;
    }
    100% {
        background-position: -500% -100%;
    }
}

.squirrel_jumps_birdfeeder {
    animation-name: squirrel_jumps_birdfeeder_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes squirrel_jumps_birdfeeder_kf {


    0% {
        transform: translate(-40vw, 10vw);
    }
    50% {
        transform: translate(-40vw, 10vw);
    }

    100% {
        transform: translate(-50vw, 3vw);
    }

}

.squirrelJumpsBirdfeeder {
    animation-name: squirrelJumpsBirdfeeder_kf;
    animation-duration: 1.2s;
    animation-timing-function: steps(5);
    animation-iteration-count: 1;
}

@keyframes squirrelJumpsBirdfeeder_kf {
    0% {
        background-position: 0% -100%;
    }
    100% {
        background-position: -500% -100%;
    }
}

/*-------------- Props -------------*/

#birdfeeder_container {
    position: absolute;
}

#birdfeeder_sprite {
    width: 20vw;
    height: 20vw;
    background-image: url(Animations_scenes/Birdfeeder.svg);
    background-size: 100% 100%;
    position: absolute;
    bottom: -47vw;
    left: -19vw;
}

.move_Birdfeeder {
    animation-name: move_Birdfeeder_kf;
    animation-duration: 4.65s;
    animation-iteration-count: 1;
}

@keyframes move_Birdfeeder_kf {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(70vw, -10vw);
    }
}

.place_Birdfeeder {
    transform: translate(70vw, -10vw);
}

#lightbulb_container {
    position: absolute;
}

#lightbulb_sprite {
    width: 5.2vw;
    height: 5vw;
    background-image: url(Animations_scenes/Lightbulb.svg);
    background-size: 100% 100%;
    position: absolute;
    bottom: -47vw;
    left: -19vw;
}

.placeLightbulb {
    transform: translate(46vw, -20vw)
}
