body {
    margin: 0;
    padding: 0;
}

/*--------- menu -------*/

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 5;
    padding: 0;
    width: 100%;
    top: 0;
    overflow: hidden;
    background-color: #47AD2E;
    font-family: 'Josefin Sans', sans-serif;
}

li {
    float: left;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    line-height: 20px;
    color: #ffffff;
}


a:hover {
    background-color: rgba(46, 134, 193, 0.9);
}

/* ------- Scenen------ */

#scene {
    width: 100vw;
    height: 56.25vw;
    position: relative;
    overflow: hidden;
}

#baggrund {
    width: 100vw;
    height: 56.25vw;
    background-image: url(Animations_scenes/baggrund-01.svg);
    background-size: cover;
    background-size: 100%;
    position: absolute;
}

#mellemgrund {
    width: 100vw;
    height: 56.25vw;
    background-image: url(Animations_scenes/mellemgrund.svg);
    background-size: cover;
    background-size: 100%;
    position: absolute;
}

#forgrund {
    width: 100vw;
    height: 56.25vw;
    background-image: url(Animations_scenes/forgrund.svg);
    background-size: cover;
    background-size: 100%;
    position: absolute;
}

/* ------- Scenen - Slut ------ */

/*-------- Sekvens 1 ----------*/

#main_char_container {
    position: absolute;
}

.man_start_pos {
    bottom: 35vw;
    left: -30vw;
}

.man_move_in {
    animation-name: man_move_in_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;

}

@keyframes man_move_in_kf {
    0% {
        left: -30vw;
        bottom: 35vw;
        /*        transform: translate(0);*/
    }

    100% {
        left: 23vw;
        bottom: 35vw;
        /*        transform: translate(40vw, 0vw);*/
    }
}

#main_char_sprite {
    width: 20vw;
    height: 20vw;
    background-image: url(Animations_figurer/Hovedkarakter/mainCharSpritesheet%204.svg);
    background-size: 900% 900%;
    position: absolute;
}



.manWalkcycle {
    animation-name: walk_kf;
    animation-duration: 1s;
    animation-timing-function: steps(9);
    animation-iteration-count: infinite;
}

@keyframes walk_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -900% 0%;
    }
}

/*sætter manden i fast position*/

.man_position_in {
    left: 23vw;
    bottom: 35vw;
}


.manStand {
    background-position: 0% -600%;
}

.feedBirds {
    animation-name: feedBirds_kf;
    animation-duration: 0.6s;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;
}

@keyframes feedBirds_kf {
    0% {
        background-position: 0% -600%;
    }

    100% {
        background-position: -300% -600%;
    }
}

.manJumps {
    animation-name: manJumps_kf;
    animation-duration: 1s;
    animation-timing-function: steps(5);
    animation-iteration-count: 4;
}

@keyframes manJumps_kf {
    0% {
        background-position: 0% -100%;
    }

    100% {
        background-position: -500% -100%;
    }
}

.manAngry {
    animation-name: manAngry_kf;
    animation-duration: 0.6s;
    animation-timing-function: steps(5);
    animation-iteration-count: 4;
}

@keyframes manAngry_kf {
    0% {
        background-position: 0% -200%;
    }

    100% {
        background-position: -500% -200%;
    }
}

.manThinking {
    animation-name: manThinking_kf;
    animation-duration: 0.6s;
    animation-timing-function: steps(5);
    animation-iteration-count: infinite;
}

@keyframes manThinking_kf {
    0% {
        background-position: 0% -400%;
    }

    100% {
        background-position: -500% -400%;
    }
}

.manIdea {
    background-position: 0% -500%;
}

.man_move_out {
    animation-name: man_move_out_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes man_move_out_kf {
    0% {
        left: 40vw;
        bottom: 35vw;
        transform: scaleX(-1);
    }

    100% {
        bottom: 35vw;
        left: -30vw;
        transform: scaleX(-1);
    }
}

.man_move_birdfeeder {
    animation-name: man_move_birdfeeder_kf;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes man_move_birdfeeder_kf {
    0% {
        bottom: 35vw;
        left: -30vw;
    }

    100% {
        bottom: 41vw;
        left: 49vw;
    }
}

.birdfeederWalkcycle {
    animation-name: birdfeederWalkcycle_kf;
    animation-duration: 1s;
    animation-timing-function: steps(9);
    animation-iteration-count: infinite;
}

@keyframes birdfeederWalkcycle_kf {
    0% {
        background-position: 0 -300%;
    }
    100% {
        background-position: -900% -300%;
    }
}

.man_with_birdfeeder {
    bottom: 41vw;
    left: 49vw;
}

.man_move_away {
    animation-name: man_move_away_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes man_move_away_kf {
    0% {
        bottom: 41vw;
        left: 65vw;
        transform: scaleX(-1);
    }

    100% {
        left: 25vw;
        bottom: 35vw;
        transform: scaleX(-1);
    }
}

.man_happy_position {
    left: 5vw;
    bottom: 35vw;
}

.manHappy {
    background-position: 0% -600%;
}

/**** ANIMATION HØJREBEN *****/

.man_with_net_move {
    animation-name: man_with_net_move_kf;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes man_with_net_move_kf {
    0% {
        bottom: 35vw;
        left: -30vw;
    }

    100% {
        left: 50vw;
        bottom: 43vw;
    }
}


.manNetWalkcycle {
    animation-name: walk_net_kf;
    animation-duration: 1s;
    animation-timing-function: steps(9);
    animation-iteration-count: infinite;
}

@keyframes walk_net_kf {
    0% {
        background-position: 0 -800%;
    }
    100% {
        background-position: -900% -800%;
    }
}

.man_position_catch {
        left: 50vw;
        bottom: 43vw;
}

.manCatchStand {
    background-position: 0% -700%;
}

.manCatch {
    animation-name: manCatch_kf;
    animation-duration: 1s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
}

@keyframes manCatch_kf {
    0% {
        background-position: 0 -700%;
    }
    100% {
        background-position: -200% -700%;
    }
}

.man_move_with_squirrel {
    animation-name: man_move_with_squirrel_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes man_move_with_squirrel_kf{
    0% {
        left: 50vw;
        bottom: 43vw;
    }

    100% {
        left: 110vw;
        bottom: 43vw;
    }
}

.man_move_gives_up {
    animation-name: man_move_gives_up_kf;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes man_move_gives_up_kf {
    0% {
        left: 70vw;
        bottom: 43vw;
        transform: scaleX(-1);
    }

    100% {
        left: -25vw;
        bottom: 35vw;
        transform: scaleX(-1);
    }
}


/*------- Fugle ------*/

#bird1_container {
    position: absolute;
}

#bird1_sprite {
    width: 7.81vw;
    height: 5.21vw;
    background-image: url(Animations_figurer/Fugle/Fugle.svg);
    background-size: 400% 700%;
    position: absolute;
    bottom: -33vw;
    right: -45vw;
}

#bird2_container {
    position: absolute;
}

#bird2_sprite {
    width: 7.81vw;
    height: 5.21vw;
    background-image: url(Animations_figurer/Fugle/Fugle.svg);
    background-size: 400% 700%;
    position: absolute;
    bottom: -35vw;
    right: -55vw;

}

#bird3_container {
    position: absolute;
}

#bird3_sprite {
    width: 7.81vw;
    height: 5.21vw;
    background-image: url(Animations_figurer/Fugle/Fugle.svg);
    background-size: 400% 700%;
    position: absolute;
    bottom: -28vw;
    right: -65vw;

}


.birdSinging {
    animation-name: sing_kf;
    animation-duration: 0.5s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
}

@keyframes sing_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200% 0%;
    }
}

.birdsEating {
    animation-name: birdsEating_kf;
    animation-duration: 0.5s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
}

@keyframes birdsEating_kf {
    0% {
        background-position: 0% -100%;
    }
    100% {
        background-position: -200% -100%;
    }
}

.birdsFlee {
    animation-name: birdsFlee_kf;
    animation-duration: 0.5s;
    animation-timing-function: steps(2);
    animation-iteration-count: 1;
}

@keyframes birdsFlee_kf {
    0% {
        background-position: 0% -200%;
    }
    100% {
        background-position: -200% -200%;
    }
}

.birds_move_up {
    animation-name: birds_move_up_kf;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes birds_move_up_kf {
    0% {
        transform: translate(0vw);
    }

    100% {
        transform: translate(-21vw, -22vw);
    }
}

.birdsFlyUp {
    animation-name: birdsFlyUp_kf;
    animation-duration: 2s;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;
}

@keyframes birdsFlyUp_kf {
    0% {
        background-position: 0% -300%;
    }
    100% {
        background-position: -300% -300%;
    }
}

.birds_position_in {
    transform: translate(-21vw, -22vw);
}

.birds_move_out {
    animation-name: birds_move_out_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes birds_move_out_kf {
    0% {
        transform: translate(-21vw, -22vw);
    }

    100% {
        transform: translate(-100vw, -22vw);
    }
}

.birdsFlyOut {
    animation-name: birdsFlyOut_kf;
    animation-duration: 2s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
}

@keyframes birdsFlyOut_kf {
    0% {
        background-position: 0% -400%;
    }
    100% {
        background-position: -400% -400%;
    }
}

.birds_move_in {
    animation-name: birds_move_in_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes birds_move_in_kf {
    0% {
        transform: translate(0vw, -20vw) scaleX(-1);
    }

    100% {
        transform: translate(70vw, -20vw) scaleX(-1);
    }
}

.birdsFlyIn {
    animation-name: birdsFlyIn_kf;
    animation-duration: 2s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
}

@keyframes birdsFlyIn_kf {
    0% {
        background-position: 0% -400%;
    }
    100% {
        background-position: -400% -400%;
    }
}

.birds_move_down {
    animation-name: birds_move_down_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes birds_move_down_kf {
    0% {
        transform: translate(70vw, -20vw) scaleX(-1);
    }

    100% {
        transform: translate(90vw, -10vw) scaleX(-1);
    }
}

.birdsFlyDown {
    animation-name: birdsFlyDown_kf;
    animation-duration: 2s;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;
}

@keyframes birdsFlyDown_kf {
    0% {
        background-position: 0% -500%;
    }
    100% {
        background-position: -300% -500%;
    }
}

.birds_move_slow {
    animation-name: birds_move_slow_kf;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes birds_move_slow_kf {
    0% {
        transform: translate(90vw, -10vw) scaleX(-1);
    }

    100% {
        transform: translate(95vw, 0vw) scaleX(-1);
    }
}

.birdsLand {
    animation-name: birdsLand_kf;
    animation-duration: 2s;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;
}

@keyframes birdsLand_kf {
    0% {
        background-position: 0% -600%;
    }
    100% {
        background-position: -300% -600%;
    }
}

.birds_position_landed {
    transform: translate(95vw, 0vw) scaleX(-1);
}

/*------------- Villain ---------------*/

#villain_container {
    position: absolute;
}

.squirrel_move_in {
    animation-name: squirrel_move_in_kf;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes squirrel_move_in_kf {
    0% {
        right: -10vw;
        top: 10vw;
    }
    25% {
        right: 20vw;
        top: 10vw;
    }

    26% {
        right: 20vw;
        top: 10vw;
        transform: rotate(15deg) scaleX(-1);
    }

    75% {
        right: 20vw;
        top: 20vw;
        transform: scaleX(-1);
    }

    100% {
        right: -20vw;
        top: 20vw;
        transform: scaleX(-1);
    }
}

#villain_sprite {
    width: 13.02vw;
    height: 10.41vw;
    background-image: url(Animations_figurer/Villain/SquirrelSpritesheet%203.svg);
    background-size: 500% 700%;
}

.villain_start_pos {
    right: -10vw;
    top: 10vw;
}

.squirrelWalkcycle {
    animation-name: runSquirrel_kf;
    animation-duration: 0.5s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
}

@keyframes runSquirrel_kf {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -400% 0%;
    }
}

.squirrel_move_scare {
    animation-name: squirrel_move_scare_kf;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes squirrel_move_scare_kf {
    0% {
        right: -20vw;
        top: -20vw;
    }

    100% {
        right: 20vw;
        top: 20vw;
    }
}

.squirrel_position_scare {
    right: 20vw;
    top: 20vw;
}

.squirrelStand {
    background-position: 0% -500%;
}

.squirrelScare {
    animation-name: squirrelScare_kf;
    animation-duration: 1s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
}

@keyframes squirrelScare_kf {
    0% {
        background-position: 0% -400%;
    }
    100% {
        background-position: -200% -400%;
    }
}

.squirrel_move_jump {
    animation-name: squirrel_move_jump_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes squirrel_move_jump_kf {


    0% {
        right: 20vw;
        top: 20vw;
    }
    25% {
        right: 25vw;
        top: 15vw;
    }
    50% {
        right: 35vw;
        top: 15vw;
    }
    70% {
        right: 35vw;
        top: 20vw;
    }

    100% {
        right: 20vw;
        top: 20vw;
    }

}

.squirrelJump {
    animation-name: squirrelJump_kf;
    animation-duration: 1.2s;
    animation-timing-function: steps(5);
    animation-iteration-count: 1;
}

@keyframes squirrelJump_kf {
    0% {
        background-position: 0% -100%;
    }
    100% {
        background-position: -500% -100%;
    }
}

.squirrel_jumps_birdfeeder {
    animation-name: squirrel_jumps_birdfeeder_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes squirrel_jumps_birdfeeder_kf {


    0% {
        right: 20vw;
        top: 20vw;
    }

    100% {
        right: 30vw;
        top: 10vw;
    }

}

.squirrelJumpsBirdfeeder {
    animation-name: squirrelJumpsBirdfeeder_kf;
    animation-duration: 1.2s;
    animation-timing-function: steps(5);
    animation-iteration-count: 1;
}

@keyframes squirrelJumpsBirdfeeder_kf {
    0% {
        background-position: 0% -100%;
    }
    100% {
        background-position: -500% -100%;
    }
}

/**** ANIMATION HØJREBEN *****/

.squirrel_position_catch {
    left: 65vw;
    top:20vw;
    /*    transform: translate(-40vw, 10vw)*/
}

.squirrelCatchStand {
    background-position: 0% -500%;
}

.squirrel_move_caged {
    animation-name: squirrel_move_caged_kf;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes squirrel_move_caged_kf {


    0% {
        right: 20vw;
        top: 20vw;
    }

    100% {
        right: -20vw;
        top: 20vw;
    }

}

.squirrelCaged {
    background-position: 0% -600%;
}


/*-------------- Props -------------*/

#birdfeeder_container {
    position: absolute;
}

#birdfeeder_sprite {
    width: 20vw;
    height: 20vw;
    background-image: url(Animations_scenes/Birdfeeder.svg);
    background-size: 100% 100%;
    position: absolute;
}

.birdfeeder_start_pos {
    bottom: 35vw;
    left: -30vw;
}

.move_Birdfeeder {
    animation-name: move_Birdfeeder_kf;
    animation-duration: 4.65s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes move_Birdfeeder_kf {
    0% {
        bottom: 36vw;
        left: -29vw;
    }

    100% {
        bottom: 42vw;
        left: 55vw;
    }
}

.place_Birdfeeder {
    bottom: 42vw;
    left: 55vw;
}

#lightbulb_container {
    position: absolute;
}

#lightbulb_sprite {
    width: 5.2vw;
    height: 5vw;
    background-image: url(Animations_scenes/Lightbulb.svg);
    background-size: 100% 100%;
    position: absolute;
}

.lightbulb_start_pos {
    bottom: 35vw;
    left: -35vw;
}

.placeLightbulb {
    left: 30.3vw;
    bottom: 38vw;
}

/*********** CHOOSE PATH *********/

#build_container {
    position: absolute;
}
#build_sprite {
    width: 7.81vw;
    height: 7.81vw;
    background-image: url(Animations_figurer/props/Artboard%202.svg);
    background-color: red;
    background-size: 200% 100%;
}

.build_start_pos {
    bottom: 35vw;
    left: -35vw;
}

.build_choice_position {
    left: 23vw;
    bottom: 35.2vw;
}

.choiceBuild {
        background-position: 0% -100%;
}

#catch_container {
    position: absolute;
}

#catch_sprite {
    width: 7.81vw;
    height: 7.81vw;
    background-image: url(Animations_figurer/props/Artboard%202.svg);
    background-size: 200% 100%;
    position: absolute;
}

.catch_start_pos {
    bottom: 35vw;
    left: -35vw;
}

.catch_choice_position {
    left: 35vw;
    bottom: 43vw;
}

.choiceCatch {
        background-position: -100% -200%;
}
